
  
html{
    overflow-y:scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
html,body{
    margin: 0;
    padding: 0;
    font-size: 14px;

}
body{
    color: #cbcbcb;
    background-color: #4a4e57;
}

a{
    color: #dc3545;
    outline: none;
    text-decoration: none !important;
}
a:active,a:focus{
    background: transparent;
}
nav,body,input,textarea{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.wrapper{
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    word-wrap: break-word;
}

/*Transition*/
*,*::before,*::after{
    transition: all 0.2s ease-in-out;
    list-style: none;
}

h1,h2,h3,h4,h5,h6,.heading{
    font-family: "Fira Code", monospace;
    margin: 0;
    line-height: normal;
    font-weight: normal;
}
address{font-style: normal; font-weight: normal;}

.font-xs{font-size: 0.8rem;}

.hor-cen{display:flex;margin:0 auto;}

.btn.btn-danger:hover{background: transparent; border: 1px solid white;}

img{
    width: auto; max-width: 100%;
    height: auto; 
    margin:0;
    padding: 0;
    border: none;
    line-height: normal;
    vertical-align: middle;
}
.container{
    position: relative;
    height: inherit;
}

.social-icon{
    margin-top:5px;
    padding: 0;
    list-style: none;
}
.social-icon a{
    display: inline-block;
    width:36px;
    height:36px;
    line-height: 36px;
    text-align: center;
    color: #32353c;
    background-color: #fff;
}

.social-icon li{
    display: inline-block;
    font-size: 18px !important;
    margin: 0 9px 0 0;
    padding:0;
    line-height: normal;
}

.social-icon a:hover{
    color: #fff !important;
}

.faicon-facebook:hover{background-color: #385998 !important;}
.faicon-youtube:hover{background-color: red !important;}
.faicon-github:hover{background-color: black !important;}
.faicon-instagram:hover{background-color: #db1270 !important;}
.faicon-twitter:hover{background-color: #00acee !important;}
#header{
    height:5.5rem;
}
@media only screen and(max-width:1200px){
    #recent.p-5{padding: 3rem 1rem !important;}
}   
    @media only screen and (max-width:986px){
    #articles .p-5{padding: 0 !important;}
    #text-over-image .p-5{padding: 1rem 2rem !important;}
    #sports.p-5{padding: 3rem 1rem !important;}
    #recent>.p-5{padding: 1rem !important;}
}
@media only screen and (max-width:786px){
    #sports.p-5 #second-column{margin-left: 0;margin-top: 20px;}
#header{
    height:15.5rem;
    }
#mainNavbar{
    margin-top: -140px;
    }
#pageintro .heading{font-size: 6rem !important;}
#pageintro.pl-5{padding-left: 0 !important;}

}
@media only screen and (max-width:676px){
    #pageintro .heading{font-size: 5rem !important;}
    #pageintro.ml-5{padding-left: 0 !important;}
    #pageintro p,#pageintro .btn{font-size: 1rem !important; margin-left: -20px;}
}
@media only screen and (max-width:586px){
    #pageintro .heading{font-size: 3rem !important; margin-left: -43px;}
    #pageintro.ml-5{padding-left: 0 !important;}
    #pageintro .btn{margin-top: 15px !important; margin-left: -30px; margin-right: 30px;}
    #pageintro p{margin-left: -40px !important;}
}
#header h1{font-size:2.4rem; letter-spacing: 2px; padding-top: 0rem;}
#header .t3{font-family: Ubuntu,sans-serif; font-weight: 600;}
#header a:hover{cursor: pointer; color: #28a745 !important;}
#header img{max-height: 5rem; width: 48rem;}

#mainNavbar.navbar .nav-item:hover{
    background-color: rgba(220, 53, 69, 0.8);
}
#mainNavbar.navbar .active{background-color: #dc3545;}
#mainNavbar a.nav-link{padding:1.3rem 0.5rem;}

#mainNavbar.navbar-dark .navbar-nav .nav-link:focus,
#mainNavbar.navbar-dark .navbar-nav .nav-link:hover{color: #fff;}
.dropdown-menu{
    background-color: rgba(121, 121, 121, 0.815);
    width: 100%;
    margin-top: 0px;
}
.dropdown-item{color: white;}
.dropdown-item:hover{background-color: rgba(63, 63, 63, 0.753); color: #fff;}

/* chailogo */
.chailogo{
    margin-left: 15px;
}

.nav-desk{
    margin-bottom: -0.5px;
}

#cover-image #pageintro{padding:200px 0;}
#cover-image #pageintro .heading{
    font-family:'Dancing Script',cursive;
    font-size: 8rem;
    font-weight: 700;
}
#cover-image #pageintro p{
    margin:0;
    text-decoration: uppercase;
    font-weight: 700;
    font-size: 1.4rem;
}
#cover-image #pageintro article{display: block; overflow: hidden;}
#cover-image{background: url(../gallery/pic-blog-3.jpg)fixed center no-repeat;
    height: 900px;
    background-size: cover;
}
.overlay{
    color: #fff;
    background:inherit;
    position: relative;
    z-index: 1;
}

.overlay::after{
    color: #fff;
    background-color: rgba(0,0,0,0.4);
    display: block;
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    content: "";
}

.content-wrapper{
    top:-200px;
    position: relative;
    z-index: 99;
    box-shadow: 0 0 5px 0 white;
}

#articles li{padding: 40px 0 0 0; text-align: center;}

#articles li article{   
    display: block;
    position: relative;
    padding: 65px 20px 25px 20px;
    color: inherit;
    background-color: #f6f6f6;
}

#articles li article i{
    display: inline-block; position: absolute;
    top: 0; left: 50%;
    width: 80px; height: 80px; line-height: 70px;
    margin:-40px 0 0 -40px;
    border: 5px solid; border-radius: 50%;
    font-size: 36px;
    z-index: 1;
    color: #fff;
    background-color: #dc3545;
    border-color: #fff;
}
#articles li article .heading{font-size: 1.4rem;padding-bottom: 10px;}

#articles li article:hover i{color:#dc3545; background-color: #f6f6f6;}
#articles .btn.btn-danger:hover{
    color:#dc3545;
    border: 1px solid #dc3545;
}
.modal-t{
    margin-left: 180px;
    color: #dc3545;
}
/*Trending*/
.overlay.red::after{background:rgba(220, 53, 67, 0.548);}
#text-over-image{
    background: url(../gallery/pic-over-image1.jpg) fixed center no-repeat;
}

/*Sports*/
#sports #second-column{
    z-index: 99;
    background-color: white;
    box-shadow: 0 0 10px 0 grey;
    margin-left: -100px;
}
#sports .headingsp{
    text-align: center;
}

#bollywood{
    background:url(../gallery/pic-testimonial.jpg) center no-repeat;
}

.blog article figue{
    display: block;
    position:relative;
    margin-bottom: 30px;
}

.blog article .textwrap .meta li{
    display: inline-block;
    margin-right: 8px;
    font-size:0.9rem;
}
.blog article .textwrap .meta li:last-child{margin-right: 0;}

.blog article .textwrap a{
    padding-left: 10px;
    text-decoration: none;
}
.blog article .textwrap a:hover{color: red;}

.img-hover{
    display: block;
    position: relative;
    max-width: 100%;
}
.img-hover::before,.img-hover::after{
    display:block;
    position: absolute;
    content: "";
    text-align: center;
    opacity: 0;
}
.img-hover::before{top:0;bottom: 0;right: 0;left: 0;}
.img-hover::after{top:50% ;
    left: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: -25px 0 0 -25px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f121';
    font-size: 36px;
}
.img-hover:hover::before{background: rgba(0,0,0,0.5); opacity: 1;}
.img-hover:hover::after{color: #fff; opacity: 1;}

#body-footer{background-color: #32353c;}