@media (max-width:768px){
    .nav-mobile{
        margin-top: 138px;
    }
    .img-mobile1{
        margin-top: 10px;
        margin-bottom: -6px;
        
    }
    .chailogo{
        margin-left: 2px;
        
    }
    .modal-t{
        margin-left: 110px;
    }
}
